.navigation{
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 30px;
    flex-direction: column;
    align-items: center;
    font-family: var(font1);
    background-color: var(--dark)
    
}
.navLink{
    color: #fff;
    text-decoration: none;
    user-select: none;
}
.navLink:hover{
    color: rgba(215, 90, 90, 0.918);
}
.navigation ul li{
    list-style: none;
    font-size: 20px;
    font-weight: bolder;
    margin-top: 30px;
}
.services{
    text-decoration: none;
}
.dropdown{
    transition: all 0.8s ease-in;
}
.dropdownContainer{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    display: none;
    transition: display 0.8s ease-in;
}
.dropdownItems{
    list-style: none;
    text-decoration: none;
    font-size: 15px;
    color: rgb(240, 234, 234);
    margin-top: 10px;
}
.dropdown:hover .dropdownContainer{
    display: flex;
}