.banner{
    width: 100%;
    height:100%;
    position: relative;
}

.bannerImage{
    object-fit: fill;
    width: 100%;  
}

.bannerText{
    width: 80%;
    position: absolute;
    top: 20%;
    left: 2rem;
    
}

.bannerText h1{
    font-size: 7rem;
    color: rgba(255, 255, 255, 0.815);
}

.bannerText h1:nth-child(2){
    padding-left: 20%;
}

@media screen and (max-width: 767px) {
    .bannerText{
        width: 90%;
        top: 40%;
    }
    .bannerText h1{
        text-align: center;
        font-size: 5rem;
        color: rgba(255, 255, 255, 0.815);
    }
    .bannerText h1:nth-child(2){
        text-align: center;
    }
}